# pin version of pynwb (pulled from PyPI; pip will handle dependencies)
pynwb=0.3.0

# Should we need to specify a pre-release version of pynwb:
## Point to specific pre-release commit (so that Binder won't break unexpectedly with dev changes). 
## NB: Even if we wanted bleeding edge of 'dev' branch, we can't use a link to a tag like 'latest', 
## since Binder won't know to rebuild when it changes.
#-e git+https://github.com/NeurodataWithoutBorders/pynwb.git@8e60520cbc225e2e0379545087e5ce937637736d#egg=pynwb-0.3.0.post0.dev2

# reqs for ephys_tutorial/write_ephys.ipynb
datetime
numpy
